# Hide directory file listing
IndexIgnore *

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?user=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?user=$1

RewriteRule ^!logout$ index.php?logout
RewriteRule ^!logout/$ index.php?logout 

RewriteRule ^!dependencies$ index.php?dependencies
RewriteRule ^!dependencies/$ index.php?dependencies 

RewriteRule ^!upload$ index.php?upload
RewriteRule ^!upload/$ index.php?upload

RewriteRule ^!games$ index.php?games
RewriteRule ^!games/$ index.php?games

RewriteRule ^upload/([a-zA-Z0-9_-]+)$ index.php?upload&album=$1
RewriteRule ^upload/([a-zA-Z0-9_-]+)/$ index.php?upload&album=$1

RewriteRule ^game/(.+)$ index.php?game=$1
RewriteRule ^game/(.+)/$ index.php?game=$1

RewriteRule ^message/([a-zA-Z0-9_-]+)$ index.php?message=$1
RewriteRule ^message/([a-zA-Z0-9_-]+)/$ index.php?message=$1

RewriteRule ^([a-zA-Z0-9_-]+)/edit$ index.php?user=$1&edit=1
RewriteRule ^([a-zA-Z0-9_-]+)/edit/$ index.php?user=$1&edit=1

RewriteRule ^([a-zA-Z0-9_-]+)/photos/([a-zA-Z]+)$ index.php?user=$1&photos=$2
RewriteRule ^([a-zA-Z0-9_-]+)/photos/([a-zA-Z]+)/$ index.php?user=$1&photos=$2

RewriteRule ^([a-zA-Z0-9_-]+)/notifications$ index.php?user=$1&notifications
RewriteRule ^([a-zA-Z0-9_-]+)/notifications/$ index.php?user=$1&notifications

RewriteRule ^([a-zA-Z0-9_-]+)/about$ index.php?user=$1&about
RewriteRule ^([a-zA-Z0-9_-]+)/about/$ index.php?user=$1&about

RewriteRule ^!messages$ index.php?messages
RewriteRule ^!messages/$ index.php?messages

RewriteRule ^messages/([a-zA-Z0-9]+)$ index.php?chat=$1
RewriteRule ^messages/([a-zA-Z0-9]+)/$ index.php?chat=$1

RewriteRule ^([a-zA-Z0-9_-]+)/post/([0-9]+)$ index.php?user=$1&post=$2
RewriteRule ^([a-zA-Z0-9_-]+)/post/([0-9]+)/$ index.php?user=$1&post=$2

RewriteRule ^([a-zA-Z0-9_-]+)/photos/album/(.+)$ index.php?user=$1&albumView=$2
RewriteRule ^([a-zA-Z0-9_-]+)/photos/album/(.+)/$ index.php?user=$1&albumView=$2

RewriteRule ^([a-zA-Z0-9_-]+)/photos/(.+)/([0-9]+)$ index.php?u=$1&album=$2&p_id=$3
RewriteRule ^([a-zA-Z0-9_-]+)/photos/(.+)/([0-9]+)/$ index.php?u=$1&album=$2&p_id=$3

RewriteRule ^activation/([a-zA-Z0-9_-]+)/([A-Za-z0-9_-\s\.\@]+)/([a-zA-Z0-9_-]+)$ index.php?activation=1&name=$1&email=$2&pass=$3
RewriteRule ^activation/([a-zA-Z0-9_-]+)/([A-Za-z0-9_-\s\.\@]+)/([a-zA-Z0-9_-]+)/$ index.php?activation=1&name=$1&email=$2&pass=$3